.app {
  margin: 20px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid; */
}

.container.main {
  margin: 20px auto;
}

.header {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.author {
  min-width: 200px;
  flex: 1;
}

.job_title {
  font-size: 1.25rem;
  margin-top: -1rem;
}

.personal_link {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.personal_link svg {
  margin-right: 0.8rem;
}

.avatar_img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1.5rem;
}

.contact {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.contact_item {
  min-width: 200px;
  flex: 1;
  padding-right: 1rem;
}

.contact_item .contact_title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact_item .contact_cont {
  color: #333;
  margin-bottom: 1.5rem;
}

.section {
  display: flex;
  padding: 20px 0;
  padding-top: 30px;
  flex-wrap: wrap;
}

.section + .section {
  border-top: 1px solid;
}

.section_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  min-width: 300px;
  width: 300px;
  padding-right: 1rem;
  margin-bottom: 0.8rem;
}
.section_cont {
  flex: 1;
}

.subs {
  display: flex;
  flex-wrap: wrap;
}

.subs + .subs {
  padding-top: 1rem;
  border-top: 1px solid;
}

.subs_title {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
  min-width: 200px;
  width: 200px;
  padding-right: 1rem;
  margin-bottom: 0.8rem;
}

.subs_cont {
  flex: 1;
}

.skills {
  min-width: 200px;
}

.skill_main {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.skill_desc {
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
}
