.app {
  color: #080808;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.header {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 68px;
}

.author {
  min-width: 200px;
  flex: 1;
}

.author h1 {
  font-family: "Roboto", sans-serif;
}

.job_title {
  font-size: 1.25rem;
  margin-top: -1rem;
  color: #323232;
}

.personal_link {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.personal_link svg {
  margin-right: 0.8rem;
}

.avatar_img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1.5rem;
}

.contact {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.contact_item {
  min-width: 200px;
  flex: 1;
  padding-right: 1rem;
}

.contact_item .contact_title {
  font-weight: 800;
  margin-bottom: -0.5rem;
}

.contact_item .contact_cont {
  margin-bottom: 0.8rem;
  color: #323232;
  font-size: 14px;
}

.section {
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

.section_title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 1rem;
  min-width: 200px;
  width: 200px;
  padding-right: 1rem;
  margin-bottom: 0.8rem;
  position: relative;
}
.section_title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 28%;
  border-bottom: 2px solid #080808;
}

.section_cont {
  flex: 1;
}

.subs {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #323232;
  background-color: #ffffff;
}

.subs + .subs {
  margin-top: 1rem;
}

.subs_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
  min-width: 200px;
  width: 200px;
  padding-right: 1rem;
  margin-bottom: 0.8rem;
  color: #323232;
}

.subs_cont {
  flex: 1;
}

.skills {
  min-width: 200px;
}

.skill_main {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.skill_desc {
  margin-bottom: 1rem;
  color: #323232;
}

.footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #323232;
}
